.btn-group-wrapper {
    width: 286px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid black; 

    &--1 {
        display: flex;
        flex-direction: column;
        width: 225px;
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;

        &--number {
            //**/
        }

        &--operators {
            display: flex;
            flex-direction: column;
        }

        .btn {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0px 15px 15px 0;
            color: #ffffff;
            font-size: 1.8rem;
            box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.8);
            text-align: center;

            &-special {
                background-color: #1f60b0;
            }

            &-number {
                background-color: #103b78;
                &--9 {
                    border-radius: 30px;
                    width: 135px;
                }
            }

            &-operator {
                margin-right: 0;
                background-color: #4cb5e5;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}